body {
  font-family: 'Press Start 2P', cursive;
  padding: 5;
  margin: 5;
  background-image: url('../img/2.png');
  background-size: cover;
  background-position: center;
  width: 80vw;
  max-width: 900px;



}

header {
  background-color: rgb(221, 34, 65);
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  max-width: 95%;
  position: relative;
}

h1 {
  padding: 5px 40px 10px 10;
  color: dodgerblue;
  margin: 5 5 15px;
  border: medium dashed green;
  position: relative;
  top: -15px;

}

#scoreboard {

  font-size: Large;
  display: inline;
  border-radius: 10px;
  margin: -20px 0px 20px 10px;
  position: relative;
  border: 3px solid rgb(187, 122, 218);
  background-color: rgb(139, 4, 139);

}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  cursor: pointer;
  display: Block;
  position: relative;
  top: 10px;

  border-radius: 10px;
}

#user {
  font-size: large;
  position: relative;
  bottom: 20px;
  display: block;
  margin: 30px;
  align-items: center;
}



.tomagotchi {
  position: absolute;
  transform: translate(200px, 200px);
  
  object-position: center;
  max-height: 10px;
  max-width: 10px;

}



#elements {
  position: absolute;
  transform: translate(150px, 220px);
}

.element{

  position: absolute;
  bottom: 80vw;
  left: 60vw;
  transform: rotate(.6turn);
}

@media (max-width: 500px) {
  #scoreboard {
    font-size: small;
  }

}
